<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>teamID</key>
	<string>LYS695473H</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.sprouttogether.app</key>
		<string>4af8c60c-f692-4ffc-90c1-384f0330f610</string>
	</dict>
	<key>signingStyle</key>
	<string>manual</string>
</dict>
</plist>
