<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>teamID</key>
	<string>LYS695473H</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.sprouttogether.app</key>
		<string>5f7e57d5-8176-4446-b1a6-5e41b1d59c97</string>
	</dict>
	<key>signingStyle</key>
	<string>manual</string>
</dict>
</plist>
